body{
	font-size: 16px;
	margin: 0;
	padding: 80px;
	border:none;
	box-shadow: 1px 2px 2px #444;
	color: #ff0;
	background: linear-gradient(45deg, #ccc, #ff0000);
}

.page{
	background: #050;
	color: #fff;
	font-size: 1em;
	padding: 50px 0 6px 4px;
	background: red;
	font-size: 1em;
}